* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*让整个界面的设置是这样的*/
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px; /* 滚动条滑块圆角 */
    box-shadow: inset 0 0 5px rgba(215, 198, 198, 0.422); /* 滚动条滑块阴影效果 */
}

*::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
}

*::-webkit-scrollbar-thumb {
    background-color: #918b8b; /* 滚动条滑块颜色 */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条背景颜色 */
}

body {
    /*全局禁止滚动条，只有需要滚动的时候再设置*/
    overflow: auto;
    background-color: var(--main-color);
    color: var(--text-color);
}

input {
    background-color: var(--main-color);
}

.bodyMain {
    display: flex;
    flex-direction: row;
}

/* 提示效果 */
.title {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -10%);
    background-color: var(--title-background-color);
    padding: 3px;
    border-radius: 8%; /* 弧状矩形轮廓 */
    border: 1px solid var(--title-border); /* 边框样式 */
    visibility: hidden; /* 初始时隐藏提示文本 */
    opacity: 0; /* 初始时透明度为0 */
    font-size: 12px;
    color: var(--title-color);
    white-space: nowrap;
    transition: visibility 0.1s linear, opacity 0.1s linear, transform 0.1s linear;
    transition-delay: 0.8s; /* 延时 */
}

/* 这一部分是汉堡按钮的地方 */
.hamburger {
    position: relative;
    cursor: pointer;
    margin: 3px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    border-radius: 25%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 过渡效果 */
}

.hamburger:hover {
    background-color: var(--hamburger-hover);
    box-shadow: 0 0 10px 0 var(--hamburger-hover-shadow); /* 添加阴影效果 */
}

.hamburger:hover .hamburger1_title {
    visibility: visible; /* 鼠标悬停时显示提示文本 */
    opacity: 1;
    transform: translate(-50%, 10%);
    z-index: 1000;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.3s ease; /* 过渡效果 */
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* 这一部分是header部分 */
.header {
    /* overflow: hidden; */
    background-color: var(--header-background-color);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed; /* 将导航栏设置为固定位置 */
    top: 0; /* 将导航栏放在页面顶部 */
}

/* 这些是header左边 */
.header-left {
    float: left;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    height: 100%;
}

.c_icon {
    width: 45px;
    height: 45px;
    margin: 3px 3px 3px 10px;
    position: relative;
}

#c_icon {
    width: 100%; /* 图片宽度100%，填充父元素 */
    height: 100%; /* 图片高度100%，填充父元素 */
}

.c_icon:hover .c_icon_title {
    visibility: visible; /* 鼠标悬停时显示提示文本 */
    opacity: 1;
    transform: translate(-50%, 10%);
    z-index: 1000;
}

/* 这些是header中间 */
.header-center {
    height: 100%;
    width: auto;
    float: left;
    display: flex;
    align-items: center; /* 垂直居中 */
    position: relative;
}

.today_container {
    width: auto;
    height: auto;
    margin-left: -15px;
    position: relative;
}

#to_today {
    padding: 5px 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--today-color);
    background-color: var(--today-background-color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px var(--today-shadow);
    letter-spacing: 2.2pt;
}

#to_today:hover {
    background-color: var(--hamburger-hover);
}

#to_today:active {
    background-color: var(--today-background-color);
    box-shadow: 0 5px var(--today-active-shadow);
    transform: translateY(2px);
}

.today_container:hover .today_title {
    visibility: visible; /* 鼠标悬停时显示提示文本 */
    opacity: 1;
    transform: translate(-50%, 10%);
    z-index: 1000;
}

.changeView {
    width: auto;
    height: auto;
    float: right;
    margin-left: 25%;
    position: absolute;
    right: 10%;
}

#changeView {
    padding: 5px 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--changeView-color);
    background-color: var(--today-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px var(--today-shadow);
    letter-spacing: 2.2pt;
}

#changeView:hover {
    transform: scale(1.1);
}


.changeViewDrop {
    visibility: hidden;
    position: absolute;
    background-color: var(--changeViewDrop-background-color);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 var(--changeViewDrop-shadow);
    border-radius: 10px;
    margin-top: 6px;
    z-index: 10000;
}

.changeViewDrop a {
    color: var(--changeViewDrop-a);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.changeViewDrop a:hover {
    cursor: pointer;
    background-color: var(--changeViewDrop-a-hover);
}

.showView {
    visibility: visible;
}

.time_container {
    margin-left: 20px;
    position: relative;
    text-align: center;
    padding: 5px 8px;
    font-size: 30px;
    border-radius: 100%;
    letter-spacing: 1.8pt;
    width: auto;
}

.changeMonth {
    width: auto;
    height: auto;
    margin-left: 50px;
}

.preRegion,
.nextRegion {
    display: inline-flex;
    position: relative;
}

.double_narrow {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 50%; /* 将元素的顶部移动到父元素的中间 */
    left: 50%; /* 将元素的左侧移动到父元素的中间 */
    transform: translate(-50%, -50%);
}

.changeMonth_button {
    border-radius: 10%;
    width: 40px;
    height: 40px;
    border: 0;
    background: var(--changeMonth_button-background);
    position: relative;
    margin: 7px;
}

.changeMonth_button:hover {
    background: var(--changeMonth_button-hover);
    box-shadow: -1px 1px 2px var(--changeMonth_button-shadow1),
    1px -1px 2px var(--changeMonth_button-shadow2);
    cursor: pointer;
}

.changeMonth_button:active {
    background: var(--changeMonth_button-hover);
    box-shadow: -1px 1px 2px var(--changeMonth_button-shadow1),
    1px -1px 2px var(--changeMonth_button-shadow2);
    transform: translateY(1px);
}

.preRegion:hover .changeMonth_title1,
.nextRegion:hover .changeMonth_title2 {
    visibility: visible; /* 鼠标悬停时显示提示文本 */
    opacity: 1;
    transform: translate(-50%, 10%);
    z-index: 1000;
}

/* 这些是header右边 */
.header-right {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s; /* 添加过渡效果 */
}

.toggle-switch {
    position: relative;
    width: 90px; /* 100px original width * 0.9 */
    height: 45px; /* 50px original height * 0.9 */
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 45px; /* 50px original height * 0.9 */
    background-color: var(--dark);
    border-radius: 22.5px; /* 25px original border-radius * 0.9 */
    cursor: pointer;
    border: 2.7px solid var(--dark); /* 3px original border * 0.9, rounded to the nearest tenth */
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 22.5px; /* 25px original border-radius * 0.9 */
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 9px; /* 10px original top * 0.9 */
    left: 9px; /* 10px original left * 0.9 */
    width: 22.5px; /* 25px original width * 0.9 */
    height: 22.5px; /* 25px original height * 0.9 */
    border-radius: 50%;
    -webkit-box-shadow: inset 10.8px -3.6px 0px 0px var(--light); /* Adjust box shadow inset as well */
    box-shadow: inset 10.8px -3.6px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(45px); /* 50px original translate * 0.9 */
    -ms-transform: translateX(45px);
    transform: translateX(45px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.header-right .information {
    /* 添加这一行 */
    margin: 5px 5px 5px auto;
    width: 60%;
    height: 45px;
    float: right;
    border-radius: 15px;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐 */
}

.information:hover {
    background-color: var(--information-hover); /* 调整为更为柔和的灰色 */
    box-shadow: 0 0 10px 0 var(--information-hover-shadow); /* 添加阴影效果 */

}

.information a {
    text-decoration: none; /* 去除链接下划线 */
    color: var(--changeView-color); /* 设定一个默认颜色 */
    transition: color 0.3s; /* 添加文字颜色的过渡效果 */
    flex: 1; /* 使链接占满整个容器 */
    text-align: center; /* 文字居中 */
    display: flex; /* 这也是为了使链接内的内容居中对齐 */
    align-items: center; /* 如果链接有更多的内容，这将帮助垂直居中 */
    justify-content: center; /* 水平居中对齐链接内容 */
    font-size: x-large;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.information a:hover {
    color: var(--information-a-hover); /* 鼠标悬停时的颜色 */
}

.user-infor {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.user-infor:hover .user_title {
    visibility: visible; /* 鼠标悬停时显示提示文本 */
    opacity: 1;
    transform: translate(-50%, 10%);
    z-index: 1000;
}


.head-icon {
    height: 45px;
    width: 45px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;

}

#head-icon {
    width: 100%;
    height: 100%;
}

.user-infor a {
    width: 30%;
    font-size: 10px;
}

#userSelf {
    width: 40%;
    font-size: xx-large;
    text-align: center; /* 文字居中 */
    display: flex; /* 这也是为了使链接内的内容居中对齐 */
    align-items: center; /* 如果链接有更多的内容，这将帮助垂直居中 */
    justify-content: center;
}

#userSelf:hover {
    cursor: pointer;
}


/* 这一部分是侧边栏leftNav*/
.leftNav {
    height: 100%;
    width: 0; /* 0 宽度 - 使用 JavaScript 更改 */
    position: fixed; /* 原地不动 */
    z-index: 1; /* 保持领先 */
    top: 55px;
    left: 0;
    background-color: var(--leftNav-background); /* 黑色*/
    overflow-x: hidden; /* 禁用水平滚动 */
    overflow-y: hidden;
    /* padding-top: 80px;  */
    transition: width 0.4s, opacity 0s;
}

.addIcon {
    height: 80px;
}

.smallContent {
    height: 80%;
    overflow: hidden;
    transition: 0.5s;
    margin-right: 5px;
    border-top: 1px solid transparent;
}

.smallContent:hover {
    overflow-y: auto;
    box-shadow: 0 -2px 0 0 var(--information-hover-shadow);
}

.smallCalendar {
    width: 90%;
    /* 头部信息，周，具体日期 1+1+6 = 8，每一行30px */
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.smallCalendar:hover {
    border: 1px solid var(--smallCalendar-hover-border);
    box-shadow: 0 2px 2px 0 var(--smallCalendar-hover-shadow);
    border-radius: 5%;
}

.smCHead {
    width: 100%;
    height: 12.5%;
    border-bottom: 1px solid var(--smallCalendar-hover-border);
    display: flex;
    justify-content: space-between; /* 使子元素分布在容器的两端 */
    align-items: center; /* 使子元素在容器中垂直居中 */
}

#smText {
    padding-left: 4.5%;
    font-family: "Courier New", Courier, monospace;
}

.smButton {
    width: 30%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.smBtn {
    border-radius: 10%;
    width: 20px;
    height: 20px;
    border: 0;
    background: var(--smBtn-background);
    position: relative;
    display: inline-flex;
    margin-top: 5px;
}

.smNarrow {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%; /* 将元素的顶部移动到父元素的中间 */
    left: 50%; /* 将元素的左侧移动到父元素的中间 */
    transform: translate(-50%, -50%);
}

#smBtnL {
    margin-right: 15%;
}

.smBtn:hover {
    cursor: pointer;
}

.smBtn:active {
    box-shadow: -0.1px 0.1px 0.1px var(--smBtn-active-shadow1),
    0.1px -0.1px 1px var(--smBtn-active-shadow2);
    transform: translateY(0.5px);
}

.smCDay {
    width: 100%;
    height: 12.5%;
    border-bottom: 1px dotted var(--smallCalendar-hover-border);
    padding-left: 2%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smCDayItem {
    font-size: small;
    font-family: "Courier New", Courier, monospace;
    color: var(--smCDayItem-color);
    text-align: center;
}

.smDates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sm-calendar-date {
    height: 30px;
    width: 13%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sm-calendar-date:hover {
    background-color: var(--sm-calendar-date-hover);
}

.sm-date-text {
    font-family: "Courier New", Courier, monospace !important;
    color: var(--sm-date-text-color);
    cursor: pointer !important;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-pre,
.sm-next {
    color: var(--sm-pre-next-color);
    opacity: 0.8;
}

.sm-today {
    border: 1px solid var(--sm-today-border-color);
}

.sm-selected {
    background-color: var(--sm-today-border-color);
    color: var(--sm-selected-color);
}

@media screen and (max-height: 450px) {
    .leftNav {
        padding-top: 15px;
    }
}

/* 底下是main */
#main {
    transition: margin-left 0.4s ease;
    flex-grow: 1;
}

.weather-container {
    margin: 120px auto auto;
    position: relative;
    width: 400px;
    height: 105px;
    background: var(--main-color);
    padding: 28px 32px;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: .6s ease-out;
    border: 1px solid var(--weather-container-border);
    box-shadow: 0 4px 8px var(--changeViewDrop-shadow); /* subtle shadow */
}

.weather-search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-search-box input {
    color: var(--weather-search-box-input-color);
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border: 0;
    outline: none;
}

.weather-search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: var(--weather-search-box-input-color);
    text-transform: capitalize;
}

.weather-search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: var(--weather-search-box-input-color);
    background: var(--weather-search-box-button);
    border-radius: 50%;
    font-size: 22px;
    transition: .4s ease;
}

.weather-search-box button:hover {
    color: var(--today-color);
    background: var(--weather-search-box-button-hover);
}

.weather-search-box i {
    position: absolute;
    color: var(--weather-search-box-button-hover);
    font-size: 28px;
}

.weather-box {
    text-align: center;
}

.weather-box img {
    width: 60%;
    margin-top: 30px;
}

.weather-box .weather-temperature {
    position: relative;
    color: var(--weather-search-box-input-color);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .weather-temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .weather-description {
    color: var(--weather-search-box-button-hover);
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .weather-humidity,
.weather-details .weather-wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .weather-humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .weather-wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    color: var(--weather-search-box-button-hover);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span {
    color: var(--weather-search-box-input-color);
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    color: var(--weather-search-box-button-hover);
    font-size: 14px;
    font-weight: 500;
}

.weather-not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.weather-not-found img {
    width: 70%;
}

.weather-not-found p {
    color: var(--weather-search-box-button-hover);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box,
.weather-details {
    scale: 0;
    opacity: 0;
}

.weather-box .weather-temp-range {
    color: var(--weather-search-box-input-color);
    font-size: 18px;
    font-weight: 500;
}

.weather-box .weather-temp-range .temp-min,
.weather-box .weather-temp-range .temp-max {
    font-weight: 700;
}

.fadeIn {
    animation: .5s fadeIn forwards;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}



