[class*="col-"] {
    float: left;
}

body {
    /*全局禁止滚动条，只有需要滚动的时候再设置*/
    overflow: auto;
}

#main {
    overflow-y: auto;
}

.mainBody {
    overflow-y: auto;
}


.header {
    z-index: 10;
}


.col-1 {
    width: 9%;
}

.col-2 {
    width: 13%;
}

.week-body::after {
    content: "";
    clear: both;
    display: table;
}

.slots {
    position: relative;
    z-index: 2;
}

.slot,
.time {
    border-top: 1px solid #cecece;
    height: 30px;
    z-index: 2;
}

.time {
    font-size: 14px;
    z-index: 2;
    text-align: center;
    padding-top: 5%;
}

.slot:hover {
    cursor: pointer;
    background-color: #eee;
}

.time.currentTime {
    background-color: #eee;
    z-index: 2;
}

.day {
    width: 100%;
    min-width: 110px;
    border-left: 1px solid #cecece;
    z-index: 2;
}

.week-title {
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 4px 0 var(--changeViewDrop-shadow);
    margin-top: 55px;
}

.timeZone {
    width: 9%;
    height: 100%;
    font-size: 14px;
    color: var(--smCDayItem-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#weekContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow-y: auto;

}

.week-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-left: 1px solid var(--week-item-border);
    justify-content: space-between;
    align-items: center;
}

.week-body {
    height: calc(100vh - 80px); /* 减去.week-title的高度 */
}

.week-item:hover {
    background-color: var(--week-item-hover);
}

.week-item:active {
    background-color: var(--week-item-active);
}

.week-item-date {
    font-size: 32px;
}

.week-item-day {
    font-family: "Courier New", Courier, monospace !important;
    font-size: 24px;
}

.is-today {
    border: 1px solid var(--sm-today-border-color);
    color: var(--sm-today-border-color);
}

.is-passed {
    color: var(--is-passed-color);
}

.is-selected {
    background-color: var(--sm-today-border-color) !important;
    color: var(--sm-selected-color) !important;
}

.is-weekend {
    background-color: var(--is-weekend-background);
}

.weather-container {
    display: none;
}


#eventModal {
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--changeViewDrop-shadow);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    padding: 20px;
    width: 450px;
    min-width: 250px;
    background-color: var(--main-color);
}

#eventModal input {
    display: inline-block;
}

#errors {
    color: var(--color-red);
}

#modalTitle {
    margin-bottom: 20px;
}

#eventModal label {
    font-weight: bold;
    display: inline-block;
    margin: 20px 10px 5px 0px;
    font-size: 16px;
}


#eventModal input[type="text"],
#eventModal textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    color: var(--text-color);
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#eventDate, #eventStart, #eventEnd {
    width: 40%;
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}

#eventTitle {
    width: 95% !important;
}


#eventDescription {
    border: 1px solid #cecece;
    width: 95% !important;
    height: 170px;
    min-height: 40px;
    resize: none;
    padding: 4px;
    box-sizing: border-box;
    background-color: var(--main-color);
}

#eventDescription:focus {
    border: 1px solid var(--text-color);
}

#eventControls {
    margin: 25px 0px 10px 0px;
}

.button {
    padding: 10px 20px;
    background-color: var(--todo1);
    color: white;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 5px;
    border: none;
}

#deleteButton {
    background-color: var(--color-red);
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

/* colors in event modal */

#colors {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.color {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: content-box;
    cursor: pointer;
}

.color.active,
.color:focus,
.color:hover {
    border: 5px solid #cecece;
}

.color-red {
    background-color: var(--color-red);
}

.color-blue {
    background-color: var(--todo1);
}

.color-green {
    background-color: var(--done1);
}

.color-orange {
    background-color: var(--doing1);
}

@media (max-width: 800px) {
    #weekDisplay {
        display: none;
    }
}



