[class*="col-"] {
    float: left;
}

body {
    /*全局禁止滚动条，只有需要滚动的时候再设置*/
    overflow: auto;
}

.header{
    z-index: 10;
}

#main {
    overflow-y: auto;
}

.col-1 {
    width: 9%;
}

.col-2 {
    width: 13%;
}

.week-body::after {
    content: "";
    clear: both;
    display: table;
}

.slots {
    position: relative;
    z-index: 2;
}

.slot,
.time {
    border-top: 1px solid #cecece;
    height: 30px;
    z-index: 2;
}
.time {
    font-size: 14px;
    z-index: 2;
    text-align: center;
    padding-top: 5%;
}

.slot:hover {
    cursor: pointer;
    background-color: #eee;
}

.time.currentTime {
    background-color: #eee;
    z-index: 2;
}
.day {
    width: 100%;
    min-width: 110px;
    border-left: 1px solid #cecece;
    z-index: 2;
}

.week-title {
    display: flex;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 4px 0 var(--changeViewDrop-shadow);
    margin-top: 55px;
}

.timeZone {
    width: 9%;
    height: 100%;
    font-size: 14px;
    color: var(--smCDayItem-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#weekContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow-y: auto;

}

.week-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-left: 1px solid var(--week-item-border);
    justify-content: space-between;
    align-items: center;
}

.week-body {
    height: calc(100vh - 80px); /* 减去.week-title的高度 */
}

.week-item:hover {
    background-color: var(--week-item-hover);
}

.week-item:active {
    background-color: var(--week-item-active);
}

.week-item-date {
    font-size: 32px;
}

.week-item-day {
    font-family: "Courier New", Courier, monospace !important;
    font-size: 24px;
}

.is-today {
    border: 1px solid var(--sm-today-border-color);
    color: var(--sm-today-border-color);
}

.is-passed {
    color: var(--is-passed-color);
}

.is-selected {
    background-color: var(--sm-today-border-color) !important;
    color: var(--sm-selected-color) !important;
}

.is-weekend {
    background-color: var(--is-weekend-background);
}

.weather-container {
    display: none;
}


