{% extends 'base.html' %}
{% block title %}
    adminLogs
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../static/css/adminView.css">
    <link rel="stylesheet" href="../static/css/modal.css">
{% endblock %}

{% block extra_js %}
    <script src="../static/js/adminJs.js"></script>
    <script src="../static/js/resetData.js"></script>
{% endblock %}


{% block mainBody %}
    {% if errors %}
        <script>
            let errorMsgs;
            {% if errors is string %}
                errorMsgs = "{{ errors }}";
            {% else %}
                errorMsgs = [
                    {% for field, error_messages in errors.items() %}
                        "{{ error_messages|join(', ') }}",
                    {% endfor %}
                ].join("\n");  // 使用换行符将每个字段的错误分隔开
            {% endif %}
            alert(errorMsgs);
        </script>
    {% endif %}
    <div class="functions">
        <button class="back" id="back">back index</button>

        <div class="pagination">
            {% if pagination.pages > 1 %}
                <a href="{{ url_for('cal_a.adminLogs', page=1, sort=current_sort, order=current_order, search=request.args.get('search')) }}">&laquo;
                    First</a>
                <a href="{{ url_for('cal_a.adminLogs', page=pagination.prev_num, sort=current_sort, order=current_order, search=request.args.get('search')) }}"
                   {% if not pagination.has_prev %}class="disabled"{% endif %}>&lsaquo; Prev</a>

                <!-- Always display the first page -->
                <a href="{{ url_for('cal_a.adminLogs', page=1, sort=current_sort, order=current_order, search=request.args.get('search')) }}"
                   {% if 1 == pagination.page %}class="active"{% endif %}>1</a>
                {% if pagination.page > 4 %}
                    <span class="ellipsis">...</span>
                {% endif %}

                {% for page_num in range(pagination.page - 2, pagination.page + 3) %}
                    {% if 1 < page_num < pagination.pages %}
                        <a href="{{ url_for('cal_a.adminLogs', page=page_num, sort=current_sort, order=current_order, search=request.args.get('search')) }}"
                           {% if page_num == pagination.page %}class="active"{% endif %}>{{ page_num }}</a>
                    {% endif %}
                {% endfor %}

                {% if pagination.page < pagination.pages - 3 %}
                    <span class="ellipsis">...</span>
                {% endif %}

                <!-- Always display the last page -->
                <a href="{{ url_for('cal_a.adminLogs', page=pagination.pages, sort=current_sort, order=current_order, search=request.args.get('search')) }}"
                   {% if pagination.pages == pagination.page %}class="active"{% endif %}>{{ pagination.pages }}</a>

                <a href="{{ url_for('cal_a.adminLogs', page=pagination.next_num, sort=current_sort, order=current_order, search=request.args.get('search')) }}"
                   {% if not pagination.has_next %}class="disabled"{% endif %}>Next &rsaquo;</a>
                <a href="{{ url_for('cal_a.adminLogs', page=pagination.pages, sort=current_sort, order=current_order, search=request.args.get('search')) }}">Last
                    &raquo;</a>
            {% endif %}
        </div>

    </div>

    <table class="users" id="users">
        <thead>
        <tr>
            <th class="tableTitle">Number</th>
            <th class="tableTitle">LogContent</th>
            <th class="sortable1 tableTitle" data-sort="time"
                {% if current_sort == "time" %}data-current-order="{{ current_order }}" {% endif %}>
                time
                {% if current_sort == "time" and current_order == "asc" %}&uarr;
                    {% elif current_sort == "time" %}&darr;{% endif %}
            </th>
            <th class="sortable1 tableTitle" data-sort="logType"
                {% if current_sort == "logType" %}data-current-order="{{ current_order }}"{% endif %}>logType
                {% if current_sort == "logType" and current_order == "asc" %}&uarr;
                    {% elif current_sort == "logType" %}&darr;{% endif %}
            </th>
        </tr>
        </thead>
        <tbody style="--starting-number: {{ (current_page-1) * per_page }}">
        {% for log in logs %}
            {% set g = "Information" if log.logType == 0 else ("Warning" if log.logType == 1 else "Error") %}
            <tr>
                <td class="numbers"></td>
                <td class="logContent" title="{{ log.logContent }}">{{ log.logContent }}</td>
                <td>{{ log.time }}</td>
                <td class="{{ g }}">
                    <div class="color-block">{{ g }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


