<!DOCTYPE html>
{% if user %}
    {% set mode = "light" if user.color == 0 else "dark" %}
{% else %}
    {% set mode = "light" %}
{% endif %}
<html lang="en" color-mode={{ mode }}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}base title{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/colors.css"/>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="shortcut icon" href="../static/pic/c_icon.jpg">
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    {% block extra_js %}{% endblock %}


</head>
<body>
<!-- 这是头部导航栏 -->
<div class="header">
    <div class="header-left">
        <!-- 这是汉堡按钮 -->
        <div class="hamburger" id="hamburger">
            <div class="hamburger1">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <!-- 提示语 -->
                <span class="hamburger1_title title">Nav</span>
            </div>
        </div>
        <div class="c_icon">
            <img src="../static/pic/c_icon.jpg" alt="icon" id="c_icon"/>
            <!-- 提示语 -->
            <span class="c_icon_title title">this is calendar icon</span>
        </div>
    </div>
    <div class="header-center">
        <div class="today_container">
            <button id="to_today" class="today_button">Today</button>
            <!-- 提示语 -->
            <span class="today_title title" id="today_title"></span>
        </div>
        <div class="changeMonth">
            <div class="preRegion">
                <button class="changeMonth_button" id="pre">
                    <img src="../static/pic/doubleleft.png" alt="pre" class="double_narrow"/>
                </button>
                <!-- 提示语 -->
                <span class="changeMonth_title1 title">pre_month</span>
            </div>

            <div class="nextRegion">
                <button class="changeMonth_button" id="next">
                    <img src="../static/pic/doubleright.png" alt="next" class="double_narrow"/>
                </button>
                <!-- 提示语 -->
                <span class="changeMonth_title2 title">next_month</span>
            </div>
        </div>
        <div class="time_container" id="time_container"></div>
        <div class="changeView">
            <button id="changeView">choose</button>
            <div id="changeViewDrop" class="changeViewDrop">
                <a href="/weekView?type=all" class="changeText">WEEK</a>
                <a href="/monthView" class="changeText">MONTH</a>
                <a href="/yearView" class="changeText">YEAR</a>
                <a href="/weekView?type=schedule" class="changeText">Schedule</a>
                <a href="/weekView?type=ddl" class="changeText">DDL</a>
                <a href="/weekView?type=teacherddl" class="changeText">TeacherDDL</a>
            </div>
        </div>
    </div>
    <div class="header-right">
        <div class="toggle-switch">
            <label class="switch-label">
                <input type="checkbox" class="checkbox" id="changeMode">
                <span class="slider"></span>
            </label>
        </div>
        <div class="information">
            {% if user %}
                <div class="user-infor">
                    <div class="head-icon">
                        {% if user.gender == 1 %}
                            <img id="head-icon" alt="head" src="{{ url_for('static', filename='pic/male.jpg') }}"/>
                        {% elif user.gender == 2 %}
                            <img id="head-icon" alt="head" src="{{ url_for('static', filename='pic/female.jpg') }}"/>
                        {% else %}
                            <img id="head-icon" alt="head"
                                 src="{{ url_for('static', filename='pic/forgetHead.png') }}"/>
                        {% endif %}
                    </div>
                    <div id="userSelf">{{ user.username }}</div>
                    <a href="/logout" class="logout" id="logout">logout</a>
                    <span class="user_title title" id="user_title">welcome: {{ user.username }} <br>
                    your email: {{ user.email }}</span>
                </div>

            {% else %}
                <a href="/loginPage">login</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="bodyMain">
    <div class="leftNav" id="leftNav">
        <div class="addIcon"></div>
        <div class="smallContent">
            <div class="smallCalendar">
                <div class="smCHead">
                    <div id="smText"></div>
                    <div class="smButton">
                        <button class="smBtn" id="smBtnL">
                            <img src="../static/pic/s_left.png" alt="left" class="smNarrow"/>
                        </button>
                        <button class="smBtn" id="smBtnR">
                            <img src="../static/pic/s_right.png" alt="right" class="smNarrow"/>
                        </button>
                    </div>
                </div>
                <div class="smCDay" id="smCDay"></div>
                <div class="smDates" id="smDates"></div>
            </div>
            <div class="smallEvents"></div>
            <div class="noLoginFunction1">
                <a href="/draw">Draw</a>
            </div>
            <div class="noLoginFunction2">
                <a href="/todo">To Do list</a>
            </div>
            {% block newPage %}
            {% endblock %}
        </div>
    </div>
    <div id="main">

        <div class="weather-container">

            <div class="weather-search-box">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" placeholder="Enter Your Location">
                <button class="fa-solid fa-magnifying-glass"></button>
            </div>

            <div class="weather-not-found">
                <img src="../static/pic/images/404.png" alt="...">
                <p>Oops! Invalid Location :/</p>
            </div>

            <div class="weather-box">
                <img src="" alt="...">
                <p class="weather-temperature"></p>
                <p class="weather-temp-range">
                    <span class="temp-min"></span> - <span class="temp-max"></span>
                </p>
                <p class="weather-description"></p>
            </div>

            <div class="weather-details">
                <div class="weather-humidity">
                    <i class="fa-solid fa-water"></i>
                    <div class="weather-text">
                        <span></span>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="weather-wind">
                    <i class="fa-solid fa-wind"></i>
                    <div class="weather-text">
                        <span></span>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </div>

        </div>
        {% block mainBody %}
        {% endblock %}
    </div>
</div>


</body>
</html>





