<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/login_style.css"/>
    <script src="../static/js/jquery-3.7.1.min.js" async></script>
    <title>Modern Login Page</title>
</head>

<body>
<!-- Main login container -->
<div class="login_container" id="login_container">

    <!-- Registration form container -->
    <div class="form-container sign-up">
        <!-- 默认访问当前的路由 -->
        <!-- 可以url -->
        <!-- 可以直接路由名 -->
        <form id="registerForm" method="post" action="{{ url_for('cal_u.loginPage') }}">
            <h1>Create Account</h1>
            <div class="information"></div>
            <span>by use your email for registering</span>

            <input type="text" placeholder="Username" id="signUpUsernameField" name="signUpUsernameField"/>
            <input type="email" placeholder="Email" id="signUpEmailField" name="signUpEmailField"/>

            <input
                    type="password"
                    placeholder="Password"
                    id="signUpPasswordField"
                    name="signUpPasswordField"
            />

            {#            {{ form.reg_form.reg_username(placeholder="Username",id="signUpUsernameField") }}#}
            {#            {{ form.reg_form.reg_email(placeholder="Email",id="signUpEmailField") }}#}
            {#            {{ form.reg_form.reg_password(placeholder="Password" ,id="signUpPasswordField") }}#}

            <button type="button" id="changeSignUpPassword" class="show">Show Password</button>
            <button type="submit" id="signUpSubmitField">Register</button>
        </form>
    </div>

    <!-- Login form container -->
    <div class="form-container sign-in">
        <form id="loginForm" method="post" action="">
            <h1>Enter System</h1>
            <div class="information"></div>
            <span>by use your username and password</span>
            <input type="text" placeholder="Username" id="signInUsernameField" name="signInUsernameField"/>

            <input
                    type="password"
                    placeholder="Password"
                    id="signInPasswordField"
                    name="signInPasswordField"
            />

{#            {{ form.login_form.login_username(placeholder="Username",id="signInUsernameField") }}#}
{#            {{ form.login_form.login_password(placeholder="Password",id="signInPasswordField") }}#}

            <button type="button" id="changeSignInPassword" class="show">Show Password</button>
            <a href="#" class="findPassword" onclick="document.getElementById('getPassword').style.display='block'">
                Forget Your Password?
            </a>
            <button type="submit" id="signInSubmitField">Login</button>
        </form>
    </div>

    <!-- Change form panels (Register and Login switches) -->
    <div class="change-container">
        <div class="change">
            <div class="change-panel change-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Switch to Login</button>
            </div>

            <div class="change-panel change-right">
                <h1>Hello Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Switch to Register</button>
            </div>
        </div>
    </div>
</div>

<!-- Password reset modal -->
<div id="getPassword" class="modal">
    <form class="modal-content animate" method="post" id="findForm" action="">
        <div class="imgcontainer">
                <span onclick="document.getElementById('getPassword').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
            <img src="../static/pic/forgetHead.png" alt="头像" class="avatar"/>
        </div>
        <div class="find-container">
            <label for="find_uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="find_uname" name="find_uname"/>

{#            {{ form.find_form.find_username(placeholder="Enter Username" ,id="find_uname") }}#}
            <label for="find_email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" id="find_email" name="find_email"/>

{#            {{ form.find_form.find_email(placeholder="Enter Email",id="find_email") }}#}
            <button type="submit" id="findPassword">Retrieve Password</button>
        </div>
    </form>
</div>

<script>
    const container = document.getElementById("login_container"),
        registerBtn = document.getElementById("register"),
        loginBtn = document.getElementById("login");
    const signUpUsernameField = document.getElementById("signUpUsernameField");
    const signUpEmailField = document.getElementById("signUpEmailField");
    const signUpPasswordField = document.getElementById("signUpPasswordField");
    const signInUsernameField = document.getElementById("signInUsernameField");
    const signInPasswordField = document.getElementById("signInPasswordField");
    const findUsernameField = document.getElementById("find_uname");
    const findEmailField = document.getElementById("find_email");

    registerBtn.addEventListener("click", () => {
        clearFormFields();
        container.classList.add("active");
    });

    loginBtn.addEventListener("click", () => {
        clearFormFields();
        container.classList.remove("active");
    });

    function clearFormFields() {
        signUpUsernameField.value = "";
        signUpEmailField.value = "";
        signUpPasswordField.value = "";
        signInUsernameField.value = "";
        signInPasswordField.value = "";
        findUsernameField.value = "";
        findEmailField.value = "";
    }

    const changeSignUpPassword = document.getElementById(
        "changeSignUpPassword"
    );
    const changeSignInPassword = document.getElementById(
        "changeSignInPassword"
    );

    changeSignUpPassword.addEventListener("click", function () {
        changePasswordVisibility(signUpPasswordField, changeSignUpPassword);
    });

    changeSignInPassword.addEventListener("click", function () {
        changePasswordVisibility(signInPasswordField, changeSignInPassword);
    });

    function changePasswordVisibility(passwordField, changeButton) {
        if (passwordField.type === "password") {
            passwordField.type = "text";
            changeButton.textContent = "Hide Password";
        } else {
            passwordField.type = "password";
            changeButton.textContent = "Show Password";
        }
    }

    const modal = document.getElementById("getPassword");

    // 当用户点击模态之外的任何地方时，关闭它
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };


    {#$(document).ready(function () {#}
    {##}
    {#    function handleFormSubmit(formSelector, postUrl) {#}
    {#        $(formSelector).submit(function (event) {#}
    {#            event.preventDefault();#}
    {##}
    {#            // 获取表单数据#}
    {#            var formData = $(this).serialize();#}
    {##}
    {#            // 发送AJAX请求#}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                url: postUrl,#}
    {#                data: formData,#}
    {#                dataType: "json",#}
    {#                success: function (response) {#}
    {#                    let infoSelector = formSelector + " .information";#}
    {#                    $(infoSelector).text(response.message);#}
    {##}
    {#                    // 如果是登录请求且状态为成功，则重定向到主页面#}
    {#                    if (response.status === "success" && postUrl === "/login") {#}
    {#                        window.location.href = "/main";#}
    {#                    }#}
    {#                },#}
    {#                error: function (jqXHR, textStatus, errorThrown) {#}
    {#                    alert("请求失败: " + textStatus + "\n错误信息: " + errorThrown);#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    }#}
    {##}
    {#    handleFormSubmit("#registerForm", "/register");#}
    {#    handleFormSubmit("#loginForm", "/login");#}
    {#    handleFormSubmit("#findForm", "/find_password");#}
    {##}


</script>
</body>
</html>


