{% extends 'base.html' %}
{% block title %}
    viewWeek
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../static/css/viewWeek.css">
{% endblock %}
{% block extra_js %}
    <script src="../static/js/viewWeek.js"></script>
{% endblock %}
{% block mainBody %}
    <div id="calendarWeek">
        <div class="week-title">
            <div class="timeZone" id="timezoneDisplay"></div>
            <div id="weekContainer"></div>

        </div>
        <div class="week-body">
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
            <h1>111</h1>
        </div>

    </div>
{% endblock %}

