{% extends 'base.html' %}
{% block title %}
    monthView
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../static/css/viewMonth.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/eventModel.css">

{% endblock %}
{% block extra_js %}
     <script type="text/javascript">
        let eventsData = [
            {% for event in events %}
                {
                    "id": "{{ event.EID }}",
                    "title": "{{ event.eventTitle }}",
                    "startDate": "{{ event.startDate.isoformat() }}",
                    "endDate": "{{ event.endDate.isoformat() }}",
                    "content": "{{ event.content }}",
                    "color": "{{ event.color }}"
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        const addEventUrl = "{{ url_for('cal_u.addEvent') }}";
        const updateEventUrl = "{{ url_for('cal_u.updateEvent') }}";
        const delEventUrl = "{{ url_for('cal_u.deleteEvent') }}";
    </script>
    <script src="../static/js/viewMonth.js" type="module"></script>
    <script src="../static/js/resetData.js"></script>
{% endblock %}

{% block mainBody %}
    <div class="monthContainer" id="monthContainer">
        <div class="monthWeekDay">
            <div class="daysOut">
                <div class="days">Sun</div>
            </div>
            <div class="daysOut">
                <div class="days">Mon</div>
            </div>
            <div class="daysOut">
                <div class="days">Tue</div>
            </div>
            <div class="daysOut">
                <div class="days">Wed</div>
            </div>
            <div class="daysOut">
                <div class="days">Thu</div>
            </div>
            <div class="daysOut">
                <div class="days">Fri</div>
            </div>
            <div class="daysOut">
                <div class="days">Sat</div>
            </div>
        </div>
        <div class="monthDates">

        </div>
    </div>
    {% include 'resetInfor.html' %}
    {% include 'eventModel.html' %}
{% endblock %}
