{% extends 'base.html' %}
{% block title %}
    viewWeek
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="../static/css/viewWeek.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/eventModel.css">

{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        const schedulesData = [
            {% for schedule in schedules %}
                {
                    "id": "{{ schedule.SID }}",
                    "title": "{{ schedule.scheduleTitle }}",
                    "date": "{{ schedule.date }}",
                    "startTime": "{{ schedule.startTime.isoformat() }}",
                    "endTime": "{{ schedule.endTime.isoformat() }}",
                    "content": "{{ schedule.content }}",
                    "color": "{{ schedule.color }}"
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        const addScheduleUrl = "{{ url_for('cal_u.addSchedule') }}";
    </script>
    <script src="../static/js/viewWeek.js" type="module"></script>
    <script src="../static/js/resetData.js"></script>
{% endblock %}
{% block newPage %}
    <a href=""></a>
{% endblock %}
{% block mainBody %}
    <div id="calendarWeek">
        <div class="week-title">
            <div class="timeZone" id="timezoneDisplay"></div>
            <div id="weekContainer">
            </div>
        </div>
        <div class="week-body">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div data-name="Sunday" data-dayIndex="0" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Monday" data-dayIndex="1" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Tuesday" data-dayIndex="2" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Wednesday" data-dayIndex="3" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Thursday" data-dayIndex="4" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Friday" data-dayIndex="5" class="day">
                </div>
            </div>
            <div class="col-2">
                <div data-name="Saturday" data-dayIndex="6" class="day">
                </div>
            </div>
        </div>


    </div>

    {% include 'scheduleModel.html' %}
    {% include 'resetInfor.html' %}

{% endblock %}
